<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao2" class="com.yi.aop.StudentDaoImpl"></bean>


    <!--配置通知-->
    <bean id="myBeforeAdvice" class="com.yi.aop.MyBeforeAdvice" ></bean>
    <bean id="myAroundAdvice" class="com.yi.aop.MyAroundAdvice" />
    
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames" value="*Dao*" />
        <property name="interceptorNames" value="myBeforeAdvice" />
    </bean>
</beans>